* {
  padding: 0;
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat';
  transition: all .5s;
}

a {
    text-decoration: none;
    color: #fff;
}

  li {
    list-style-type: none;
}

body {
  background-color: #4834d4;
}
/*********************************/
/* Main */
/*********************************/

main {
  padding: 5% 0;

  .weather {
    width: 100%;
    text-align: center; 

    h2 {
      color: #fff;
    }
  }
}

/*********************************/
/* Form */
/*********************************/

.form-container {
  form {
    display: flex;
    justify-content: center;
  
    label {
      padding-right: 10px;
    }
  
    input {
      width: 300px;
      padding: 10px 0;
      border-bottom: 2px solid #0984e3;
      background-color: transparent;
      color: #fff;

      &:focus, &:focus::-webkit-input-placeholder {
        outline: none;
      }
  
      &:first-child {
        margin-right: 10px;
      }
      
      &::-webkit-input-placeholder {
        color: #fff;
      }
    }
  
    button {
      padding: 10px;
      border-radius: 4px;
      margin-left: 5px;
      background-color: #0984e3;
      color: #fff;
      cursor: pointer;
  
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: #00b894;
      }
    }
  } 
}

.weather-box {
  position: relative;
  width: 800px;
  height: 350px;
  margin: 5% auto 0;
  border-radius: 10px;
  background-image: radial-gradient( circle 583px at 1.2% 51%,  rgba(234,94,123,1) 0%, rgba(236,112,101,1) 100.3% );

  .icon-box {
    padding: 20px 0 0 20px;
    
  }

  .temperature-box {
    padding: 9px 0 0 25px;
    position: absolute;
    left: 133px;
    top: 2px;


    .temperature {
      font-size: 60px;
      color: #fff;
      font-family: 'Vast Shadow', cursive;
    }

    h2 {
      color: #fff;
      font-size: 28px;
      font-weight: 300;
    }
  }

  .min-max-box {
    position: absolute;
    top: 20px;
    right: 100px;
    padding: 0 20px 0 0 ;

    .min, .max {
      padding-top: 5px;
      color: #fff;
    }
  }
}

.sun {
  display: none;
  width: 100px;
}

/*********************************/
/* Bottom Icons */
/*********************************/

.bottom-icons {
  display: none;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;

  .icons-container {
    display: inline-block;
    position: relative;
    width: auto;
    padding: 0 25px;

    .sunrise {
      position: relative;
      left: 0;
    }

    .sunset {
      position: relative;
      width: 84px;
    }

    p {
      display: inline-block;
      position: relative;
      top: -16px;
      left: 5px;
      color: #fff;
    }
  }
}

.area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    color: #fff;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}


